In [1]:
import mysql.connector as connector

In [2]:
connection=connector.connect(user="root",password="")

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute("CREATE DATABASE little_lemon_db")

In [5]:
cursor.execute("USE little_lemon_db")

In [6]:
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

In [7]:
create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

In [8]:
Create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

In [9]:
create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

In [10]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR,
Role VARCHAR,
Address VARCHAR,
Contact_Number INT,
Email VARCHAR,
Annual_Salary VARCHAR
);"""

In [11]:
cursor.execute(create_menuitem_table)

In [12]:
cursor.execute(create_menu_table)

In [13]:
cursor.execute(Create_booking_table)

In [14]:
cursor.execute(create_orders_table)

In [15]:
create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR(80),
Role VARCHAR(40),
Address VARCHAR(120),
Contact_Number INT,
Email VARCHAR(60),
Annual_Salary VARCHAR(30)
);"""

In [16]:
cursor.execute(create_employees_table)

In [17]:
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

In [18]:
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

In [19]:
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

In [20]:
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

In [21]:
insert_employees = """INSERT INTO employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)VALUES
(01,'Mario Gollini','Manager','724 Parsley Lane Old Town Chicago IL','351258074','Mario.g@littlelemon.com','$70000'),
(02,'Adrian Gollini','Assistant Manager','334 Dill Square Lincoln Park Chicago IL',351474048,'Adrian.g@littlelemon.com','$65000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street West Loop Chicago IL','351970582','Giorgos.d@littlelemon.com','$50000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane Chicago IL','351963569','Fatma.k@littlelemon.com','$45000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square EdgeWater Chicago IL','351074198','Elena.s@littlelemon.com','$40000'),
(06,'John Millar','Receptionist','245 Dill Square Lincoln Park Chicago IL','351584508','John.m@littlelemon.com','$35000');"""

In [22]:
cursor.execute(insert_menuitems)

In [23]:
connection.commit()

In [24]:
cursor.execute(insert_menu)

In [25]:
connection.commit()

In [26]:
cursor.execute(insert_bookings)

In [27]:
connection.commit()

In [28]:
cursor.execute(insert_orders)

In [29]:
connection.commit()

In [30]:
cursor.execute(insert_employees)

In [31]:
connection.commit()

In [32]:
dbconfig={"database":"little_lemon_db", "user":"root", "password":""}

In [33]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error
try:
   pool = MySQLConnectionPool(pool_name = "mario",pool_size = 2 , **dbconfig)
   print("name of the pool",pool.pool_name)
   print("size of the pool",pool.pool_size)
except Error as er:
    print("error code",er.errno)
    print("message",er.msg)

name of the pool mario
size of the pool 2

In [34]:
print("Getting a connection from the pool.")
connection1 = pool.get_connection()
print("'connection1' object is created with a connection from the pool")

Getting a connection from the pool.
'connection1' object is created with a connection from the pool

In [35]:
cursor1=connection1.cursor()
cursor1.execute("""insert into Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID) 
VALUES (8, "annes", "java", '18:00:00', 6)""")
connection1.commit

In [36]:
cursor.execute(""" select Name, EmployeeID FROM Employees WHERE Role = 'Manager' """)
results = cursor.fetchall()
for result in results:
    print(result)

('Mario Gollini', 1)

In [37]:
cursor.execute("""select Name, Role FROM Employees ORDER BY Annual_Salary DESC""")
results = cursor.fetchall()
for i in results:
    print(i)

('Mario Gollini', 'Manager')
('Adrian Gollini', 'Assistant Manager')
('Giorgos Dioudis', 'Head Chef')
('Fatma Kaya', 'Assistant Chef')
('Elena Salvai', 'Head Waiter')
('John Millar', 'Receptionist')

In [38]:
cursor.execute("""select COUNT(HOUR(BookingSlot)) FROM Bookings WHERE HOUR(BookingSlot) BETWEEN '18:00:00' AND '20:00:00' """)
results = cursor.fetchall()
for i in results:
  print(i)

(4,)

In [39]:
cursor.execute("""select b.BookingID, CONCAT(b.GuestFirstName," ",b.GuestLastName) as FullName, e.Role FROM Bookings as b LEFT JOIN Employees as e ON b.EmployeeID = e.EmployeeID 
WHERE e.Role ='Receptionist' ORDER BY b.BookingSlot """)
results= cursor.fetchall()
cols = cursor.column_names
print(cols)
for i in results:
    print(i)

('BookingID', 'FullName', 'Role')

In [40]:
CREATE PROCEDURE BasicSalesReport()
BEGIN
    SELECT 
        SUM(AmountPaid) AS 'Total Sales',
        AVG(AmountPaid) AS 'Average Sale',
        MIN(AmountPaid) AS 'Minimum Bill Paid',
        MAX(AmountPaid) AS 'Maximum Bill Paid'
    FROM Orders;
END

SyntaxError: invalid syntax (3682546300.py, line 1)